name: Deploy to EC2

on:
  push:
    branches: [main]  # change if your branch is different

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          password: ${{ secrets.EC2_PASSWORD }}
          script: |
            cd /root/workspace/med-x/med-x-f
            git pull origin main
            npm install
            npm run build
            pm2 restart med-x-frontend
